<h1>Quiz#top</h1>
<div>
  <%=form_tag("/quiz/answer") do%>

    <div class="form-question">
      <div class="form-choice">
        <p>可愛い？</p>
        <select name="level">
          <option value="5">そう思う</option>
          <option value="4">やや思う</option>
          <option value="3">分からない</option>
          <option value="2">やや思わない</option>
          <option value="1">思わない</option>
        </select>
      </div>
    </div>

    <div class="form-question">
      <p>年上？</p>
      <div class="form-choice">
        <select name="age">
          <option value="5">そう思う</option>
          <option value="4">やや思う</option>
          <option value="3">分からない</option>
          <option value="2">やや思わない</option>
          <option value="1">思わない</option>
        </select>
      </div>
    </div>

    <div class="form-question">
      <p>でかい？</p>
      <div class="form-choice">
        <select name="big">
          <option value="5">そう思う</option>
          <option value="4">やや思う</option>
          <option value="3">分からない</option>
          <option value="2">やや思わない</option>
          <option value="1">思わない</option>
        </select>
      </div>
    </div>

    <div class="form-question">
      <p>古参？</p>
      <div class="form-choice">
        <select name="old">
          <option value="5">そう思う</option>
          <option value="4">やや思う</option>
          <option value="3">分からない</option>
          <option value="2">やや思わない</option>
          <option value="1">思わない</option>
        </select>
      </div>
    </div>

    <div class="form-question">
      <p>清楚？</p>
      <div class="form-choice">
        <select name="nobitch">
          <option value="5">そう思う</option>
          <option value="4">やや思う</option>
          <option value="3">分からない</option>
          <option value="2">やや思わない</option>
          <option value="1">思わない</option>
        </select>
      </div>
    </div>

    <input type="submit" value="submit">
  <% end %>

</div>
